<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Book_Flight">
  <test thread-count="5" name="BookFlightTest">
  <parameter name="noOfPassengers" value="2"/>
  <parameter name="expectedPrice" value="$1169 USD"/>
    <classes>
      <class name="com.newtours.tests.BookFlightTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
